#popupBoxOnePosition{
    top: 0; left: 0; position: fixed; width: 100%; height: 120%;
    background-color: rgba(0,0,0,0.7); display: none;
}
#popupBoxTwoPosition{
    top: 0; left: 0; position: fixed; width: 100%; height: 120%;
    background-color: rgba(0,0,0,0.7); display: none;
}
.popupBoxWrapper{
    width: 550px; margin: 50px auto; text-align: left;
}
.popupBoxContent{
    background-color: #FFF; padding: 15px;
    text-align: center;
    color: blue;
    border: 2px solid black;
    border-radius: 50px;
    margin-top: 31%;
}
#closebox1, #closebox2{
    cursor: pointer;
    color: red;
}
#wrapper{
    background-color: cadetblue;
    text-align: center;
    cursor: pointer;
    color: white;
    border: 3px solid black;
    border-radius: 25px;
    margin-left: 30%;
    margin-right: 30%;
}
#box1:hover{
    color: red;
}
#box2:hover{
    color: red;
}

@media (max-width:600px){
    #wrapper {
         margin-left: 0%; 
         margin-right: 0%;
}
.popupBoxContent {
     margin-right: 36%; 
    margin-left: 1.5%;
}
}
